.main {
    display: flex;
    align-items: center;
    align-content: center;
}

.albums-button {
    font-family: "Oxygen", sans-serif;
    border-radius: 10%;
    border: 2px solid #D8B07E;
    background-color: transparent;
    text-transform: uppercase;
    color: #fff;
    padding: 8px;
  }